<footer class="text-center text-lg-start bg-body-secondary text-muted">
  <section class="fotterimg" style="background-color: rgba(0, 0, 0, 0.05)">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">LOCATION</h6>
          <i class="fa-solid fa-location-dot"></i>
          <p>
            <a href="#!" class="text-reset">Addis Ababa, Ethiopa</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Address</h6>
          <i class="fa-solid fa-globe"></i>
          <p>
            <a href="#!" class="text-reset">www.Heryakosmeles.com</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-phone me-3"></i> +251-925116024</p>
        </div>
      </div>
    </div>
    <section class="mb-4">
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #333333"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
  </section>
  <div
    class="text-center p-4"
    style="background-image: url('../../assets/sl_031420_28950_10.jpg')"
  >
    © 2024 Built with Angular and Disgined by Heryakos Meles
    <a href="heryakosmeles@gmail.com"
      ><span style="font-size: 18pt">
        <img
          src="../../assets/HM_LOGO.svg"
          alt="Logo"
          style="height: 50px"
        /> </span
      >Heryakos</a
    >
  </div>
</footer>
