<app-header></app-header>
<section class="About">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h2 class="display-2 carousel-title"><b>About Me</b></h2>
          <p class="section-description">
            <span class="underlinecolor">My Name is Heryakos Meles</span>
          </p>

          <p>
            I consider myself a value adder. I resolute to being a key asset of
            objective teams while seeking value from colleagues to add to my
            strengths. I love computer science and information technology.
          </p>
          <p>
            I have acquired experience building industry standard, production
            ready applications from working as a full stack software developer
            and being a full time technology hobbyist. In my
            <span class="underline">1 years as a developer</span>, I seek to
            train every day. I have worked performing continuous integration,
            and covering backend developer roles with
            <span class="underline"> SQL</span>. I have led teams having
            empathy, exercising motivation to partners, and setting plans and
            goals together.
          </p>
          <p>
            My skills also include implementing system improvements, optimizing
            sites, standardizing patterns, and suggesting and executing ideas
            that add value to the project I'm working on.
          </p>
          <p>
            Some of the technologies that I have trained and worked on include
            (but are not limited to):<span class="underline">
              HTML, CSS, JavaScript, Typescript, Angular, React, SQL, and
              Git,</span
            >.
          </p>
        </div>
        <div class="col-md-6">
          <ul>
            <li>
              HTML -
              <p-progressBar
                [value]="progressValues.html"
                class="progress-bar-value"
              ></p-progressBar>
            </li>
            <li>
              CSS -
              <p-progressBar
                [value]="progressValues.css"
                class="progress-bar-value"
              ></p-progressBar>
            </li>
            <li>
              JavaScript -
              <p-progressBar
                [value]="progressValues.javascript"
                class="progress-bar-value"
              ></p-progressBar>
            </li>
            <li>
              TypeScript -
              <p-progressBar
                [value]="progressValues.typescript"
                class="progress-bar-value"
              ></p-progressBar>
            </li>
            <li>
              Angular -
              <p-progressBar
                [value]="progressValues.angular"
                class="progress-bar-value"
              ></p-progressBar>
            </li>
            <li>
              React -
              <p-progressBar
                [value]="progressValues.react"
                class="progress-bar-value"
              ></p-progressBar>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
