.About {
  margin-top: 5%;
}
.underline {
  color: rgb(125, 151, 236);
}
.underlinecolor {
  position: relative;
}

.underlinecolor::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #00e6e6;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.underlinecolor:hover::after {
  transform: scaleX(1);
}
.progress-bar {
  width: 0%;
}
.progress-bar-value {
  width: 0%;
  transition: width 1s ease-in-out;
}

.progress-bar-value.animate {
  animation: progressAnimation 1s ease-in-out;
}

@keyframes progressAnimation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
