<app-header></app-header>
<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-title">Contact</h2>
        <p class="section-description">Heryakos Meles</p>
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              placeholder="Your Name"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              placeholder="Your Email"
              required
            />
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea
              id="message"
              class="form-control"
              placeholder="Your Message"
              rows="5"
              required
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
      </div>
      <div class="col-md-6">
        <div class="contact-info">
          <h3>Contact Information</h3>
          <p>
            <i class="fa-solid fa-location-dot"></i> Yeka, Addis Ababa, Ethiopa
          </p>
          <p><i class="fa-solid fa-envelope"></i> heryakosmeles@gmail.com</p>
          <p><i class="fa-solid fa-phone"></i> +251925116024</p>
          <p><i class="fa-brands fa-github"></i> https://github.com/Heryakos</p>
          <p>
            <i class="fa-brands fa-linkedin"></i> https://linkedin.com/Heryakos
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
