.card {
  margin-top: 10% auto;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* margin: 20px auto; */
  transition: transform 0.3s ease;
  transform-origin: top;
}

.card:hover {
  transform: perspective(1000px) rotateX(10deg);
}

.card-header {
  background-color: #f0f0f0;
  padding: 10px;
}

.card-body {
  padding: 10px;
}
